@charset "utf-8";
*{
	margin:0;
	padding:0;
}
#wrap{
	width:70%;
	margin:0 auto;
}
#logo{
	margin:0 auto;
	width:150px;
	margin-bottom:20px;
	text-align:center;
}
#logo h1{
	margin:0px;
}
#logo p{
	margin:0px;
}
#menu li{
	list-style:none;
	display:inline-block;
	text-align:center;
	padding:10px;
	margin:0px 45px;
}
#menu a:first-child{
	margin-left:3%;
}
#menu li:hover{
	border-bottom:2px solid gray;
	padding-bottom:5px;
	transition:.1s;
}
a{
	text-decoration:none;
	color:black;
}
ul{
	margin:0 auto;
}
#search form{
	margin-left:76%;
}
#list{
	overflow:auto;
	height: 600px;
    width: 35%;
    display: inline-block;
}
#list li{
	
	list-style:none;
	padding:10px;
	border-radius:10px 10px;
	background-color:#3BA683;
	color:white;
	font-weight:bold;
	margin:5px 0px;
	transition-property:padding,padding-left;
	transition-duration:.2s;
}
#list li:hover{
	padding:15px;
	padding-left:10px;
}
#explain{
	border-left:1px solid gray;
	width:60%;
	height:600px;
	float:right;
	padding:10px;
}
#list ul{
	float:left;
	width:94%;
}
#list a{
	display:inline-block;
	width:100%;
}
#explain:after{
	content:"";
	display:block;
	clear:both;
}
